@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

$colors: (
  primary: #9356dc,
  secondary: #ff79da,
  tertiary: #99e2d0,
  darkG1: #7e7e7e,
  darkG2: rgb(36, 36, 36),
  lightG: #f6f6f6,
  standardG: #eaeaea,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  font-family: "Roboto";
  margin: 0;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  position: relative;
  height: 10vh;

  h1 {
    margin: 0;
    padding-top: 2vh;
    font-size: 1.8rem;
  }

  .back-button {
    position: absolute;
    top: 35%;
    left: 1rem;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.bg-img-restaurant {
  height: 36vh;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.detail-menu {
  margin-top: -32px;

  .container {
    position: relative;
    padding: 2rem 1.2rem;
    background-color: color(lightG);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    @include md {
      padding: 2rem 8rem;
    }

    @include lg {
      padding: 2rem 12rem;
    }

    .sub-header {
      display: flex;
      justify-content: space-between;

      .sub-header-title {
        h2 {
          font-family: "Shrikhand";
          letter-spacing: 1px;
          font-size: 1.3rem;
        }
      }

      .sub-header-heart {
        position: relative;
        width: 3rem;

        .heart-logo,
        .heart-logo-hover {
          position: absolute;
          top: 30%;
          left: 1rem;
          font-size: 1.2rem;
        }

        .heart-logo {
          color: rgba(0, 0, 0, 0.7);
        }

        .heart-logo-hover {
          opacity: 0;
          color: transparent;
          background: linear-gradient(
            to right,
            white 40%,
            color(secondary) 50%,
            color(primary) 90%
          );
          background-clip: text;
          -webkit-background-clip: text;
          background-size: 300%;
          transition: 500ms ease-in-out;

          &:hover {
            opacity: 1;
            background-position: right;
          }
        }
      }
    }

    .menu-segment {
      .menu-segment-title {
        text-transform: uppercase;
        margin-top: 2em;
        margin-bottom: 0.2em;
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.6);
      }

      .divider-type-1 {
        height: 4px;
        width: 3rem;
        background-color: color(tertiary);
      }

      .cards-wrapper {
        display: flex;
        flex-direction: column;

        @include lg {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .menu-item {
          width: 100%;
          height: 3.5rem;
          border-radius: 8px;
          background-color: white;
          margin: 2vh auto;
          display: flex;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          overflow: hidden;

          @include lg {
            width: 45%;
            margin: 1rem;
          }

          .menu-item-block-text {
            width: 90%;
            display: inline-block;
            transition: 500ms ease-in-out;

            p,
            h4 {
              margin: 0.5em;
              white-space: nowrap;
              width: 70%;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 0.8rem;
            }

            h4 {
              font-size: 1rem;
            }
          }

          .menu-item-block-price {
            width: 10%;
            height: 100%;
            position: relative;

            .menu-item-price {
              position: absolute;
              bottom: 0.7em;
              right: 0.5em;
              font-weight: 600;
              font-size: 0.8rem;
            }
          }

          .menu-item-block-tick {
            width: 20%;
            height: 100%;
            color: white;
            font-size: larger;
            background-color: color(tertiary);
            margin-right: -500px;
            display: flex;
            align-items: center;
            justify-content: center;

            .fa-check-circle {
              font-size: 1rem;
              @keyframes fullrotate {
                to {
                  transform: rotate(360deg);
                }
              }
            }
          }

          &:hover {
            .menu-item-block-text {
              width: 70%;
            }

            .fa-check-circle {
              animation: fullrotate 800ms forwards;
            }
          }
        }
      }
    }

    .order-button {
      width: 50vw;
      padding: 2vh;
      margin: 4vh auto;
      border-radius: 30px;
      background: rgb(255, 121, 218);
      background: linear-gradient(
        170deg,
        rgba(255, 121, 218, 1) 11%,
        rgba(147, 86, 220, 0.9192051820728291) 63%
      );

      color: #fff;
      text-align: center;
    }
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadingIn 1s ease-in-out forwards;

  @keyframes fadingIn {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.fi1 {
  animation-delay: 0.2s;
}

.fi2 {
  animation-delay: 0.4s;
}

.fi3 {
  animation-delay: 0.6s;
}

.fi4 {
  animation-delay: 0.8s;
}

footer {
  background-color: color(darkG2);
  padding: 16px;
  color: white;

  h3 {
    font-family: "Shrikhand";
    font-weight: lighter;
  }

  .cutlery {
    font-size: smaller;
    margin-right: 16px;
  }

  .handshake {
    font-size: smaller;
    margin-right: 10px;
  }

  .contact-link {
    a {
      text-decoration: none;
      color: white;
    }
  }
}
