@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
  position: relative;
}

body .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  -webkit-animation-name: FadeOutLoader;
          animation-name: FadeOutLoader;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

body .loader .spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 8rem;
  width: 8rem;
  border: 10px dashed #9356dc;
  background-color: transparent;
  border-radius: 50%;
  -webkit-animation: RotateSpinner 4s linear infinite;
          animation: RotateSpinner 4s linear infinite;
}

@-webkit-keyframes RotateSpinner {
  50% {
    border: 10px dashed #ff79da;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    border: 10px dashed #9356dc;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes RotateSpinner {
  50% {
    border: 10px dashed #ff79da;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    border: 10px dashed #9356dc;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes FadeOutLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes FadeOutLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

header {
  font-family: "Shrikhand";
  text-align: center;
  height: 10vh;
}

header h1 {
  margin: 0;
  padding-top: 2vh;
}

.localisation-section {
  background-color: #eaeaea;
  padding: 2vh;
  text-align: center;
}

.localisation-section .form-icon {
  margin-right: 10px;
  margin-left: 30px;
}

.localisation-section input {
  font-family: "Roboto";
  background-color: transparent;
  border: none;
  color: #242424;
  font-weight: bold;
  font-size: medium;
}

.explore-restaurants-section {
  height: 35vh;
  padding: 5vh 2vh;
  background-color: #f6f6f6;
  text-align: center;
}

.explore-restaurants-section .explore-button {
  width: 50vw;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 11%, rgba(147, 86, 220, 0.919205) 63%);
  padding: 2vh;
  border-radius: 30px;
  color: #fff;
  margin: 4vh auto;
}

.how-to-section {
  padding-top: 3vh;
  padding-bottom: 4vh;
}

.how-to-section h2 {
  width: 90vw;
  margin: 16px auto;
}

.how-to-section .how-to-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-to-section .how-to-buttons .how-to-button {
  width: 80vw;
  height: 60px;
  padding: 8px 6px;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin: 8px;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper {
  position: absolute;
  top: 40%;
  left: -10px;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-number {
  width: 10px;
  height: 10px;
  border: solid #9356dc 1px;
  border-radius: 50%;
  background-color: #9356dc;
  padding: 4px 8px;
  color: white;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-logo {
  margin: auto 20px;
  color: #7e7e7e;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-text {
  font-weight: bold;
}

.how-to-section .how-to-buttons .how-to-button:hover {
  background-color: #f2eafb;
}

.how-to-section .how-to-buttons .how-to-button:hover .how-to-logo {
  color: #9356dc;
}

.restaurants-listing-section {
  background-color: #f6f6f6;
  padding: 5vh 2vh 8vh 2vh;
}

.restaurants-listing-section h2 {
  width: 90vw;
  margin: 16px auto;
}

.restaurants-listing-section .restaurant-card {
  width: 90vw;
  height: 40vh;
  background-color: white;
  border-radius: 16px;
  margin: 24px auto;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.restaurants-listing-section .restaurant-card a {
  text-decoration: none;
  color: black;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-image {
  height: 70%;
  width: 100%;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-listing-section .restaurant-card a h3,
.restaurants-listing-section .restaurant-card a p {
  margin: 8px;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text {
  position: relative;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo,
.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo-hover {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: x-large;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo {
  color: black;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo-hover {
  opacity: 0;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, white), color-stop(50%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(to right, white 40%, #ff79da 50%, #9356dc 90%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo-hover:hover {
  opacity: 1;
  background-position: right;
}

footer {
  background-color: #242424;
  padding: 16px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

footer .cutlery {
  font-size: smaller;
  margin-right: 16px;
}

footer .handshake {
  font-size: smaller;
  margin-right: 10px;
}

footer .contact-link a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */