@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  position: relative;
  height: 10vh;
}

header h1 {
  margin: 0;
  padding-top: 2vh;
  font-size: 1.8rem;
}

header .back-button {
  position: absolute;
  top: 35%;
  left: 1rem;
}

header .back-button a {
  text-decoration: none;
  color: black;
}

.bg-img-restaurant {
  height: 36vh;
  width: 100%;
}

.bg-img-restaurant img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-menu {
  margin-top: -32px;
}

.detail-menu .container {
  position: relative;
  padding: 2rem 1.2rem;
  background-color: #f6f6f6;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

@media (min-width: 720px) {
  .detail-menu .container {
    padding: 2rem 8rem;
  }
}

@media (min-width: 960px) {
  .detail-menu .container {
    padding: 2rem 12rem;
  }
}

.detail-menu .container .sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-menu .container .sub-header .sub-header-title h2 {
  font-family: "Shrikhand";
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.detail-menu .container .sub-header .sub-header-heart {
  position: relative;
  width: 3rem;
}

.detail-menu .container .sub-header .sub-header-heart .heart-logo,
.detail-menu .container .sub-header .sub-header-heart .heart-logo-hover {
  position: absolute;
  top: 30%;
  left: 1rem;
  font-size: 1.2rem;
}

.detail-menu .container .sub-header .sub-header-heart .heart-logo {
  color: rgba(0, 0, 0, 0.7);
}

.detail-menu .container .sub-header .sub-header-heart .heart-logo-hover {
  opacity: 0;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, white), color-stop(50%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(to right, white 40%, #ff79da 50%, #9356dc 90%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.detail-menu .container .sub-header .sub-header-heart .heart-logo-hover:hover {
  opacity: 1;
  background-position: right;
}

.detail-menu .container .menu-segment .menu-segment-title {
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 0.2em;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
}

.detail-menu .container .menu-segment .divider-type-1 {
  height: 4px;
  width: 3rem;
  background-color: #99e2d0;
}

.detail-menu .container .menu-segment .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  .detail-menu .container .menu-segment .cards-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item {
  width: 100%;
  height: 3.5rem;
  border-radius: 8px;
  background-color: white;
  margin: 2vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

@media (min-width: 960px) {
  .detail-menu .container .menu-segment .cards-wrapper .menu-item {
    width: 45%;
    margin: 1rem;
  }
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-text {
  width: 90%;
  display: inline-block;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-text p,
.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-text h4 {
  margin: 0.5em;
  white-space: nowrap;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-text h4 {
  font-size: 1rem;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-price {
  width: 10%;
  height: 100%;
  position: relative;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-price .menu-item-price {
  position: absolute;
  bottom: 0.7em;
  right: 0.5em;
  font-weight: 600;
  font-size: 0.8rem;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-tick {
  width: 20%;
  height: 100%;
  color: white;
  font-size: larger;
  background-color: #99e2d0;
  margin-right: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item .menu-item-block-tick .fa-check-circle {
  font-size: 1rem;
}

@-webkit-keyframes fullrotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fullrotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item:hover .menu-item-block-text {
  width: 70%;
}

.detail-menu .container .menu-segment .cards-wrapper .menu-item:hover .fa-check-circle {
  -webkit-animation: fullrotate 800ms forwards;
          animation: fullrotate 800ms forwards;
}

.detail-menu .container .order-button {
  width: 50vw;
  padding: 2vh;
  margin: 4vh auto;
  border-radius: 30px;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 11%, rgba(147, 86, 220, 0.919205) 63%);
  color: #fff;
  text-align: center;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation: fadingIn 1s ease-in-out forwards;
          animation: fadingIn 1s ease-in-out forwards;
}

@-webkit-keyframes fadingIn {
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadingIn {
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.fi1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.fi2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.fi3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.fi4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

footer {
  background-color: #242424;
  padding: 16px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

footer .cutlery {
  font-size: smaller;
  margin-right: 16px;
}

footer .handshake {
  font-size: smaller;
  margin-right: 10px;
}

footer .contact-link a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto";
  margin: 0;
  position: relative;
}

body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  -webkit-animation-name: FadeOutLoader;
          animation-name: FadeOutLoader;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

body .loader .spinner {
  margin: calc(100vh / 2 - 5vh) auto;
  height: 7rem;
  width: 7rem;
  border: 3px solid #f6f6f6;
  border-radius: 50%;
  border-top-color: #9356dc;
  border-left-color: #9356dc;
  border-bottom-color: #ff79da;
  border-right-color: #ff79da;
  -webkit-animation: RotateSpinner 0.6s linear infinite;
          animation: RotateSpinner 0.6s linear infinite;
}

@-webkit-keyframes RotateSpinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes RotateSpinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes FadeOutLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes FadeOutLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

header {
  font-family: "Shrikhand";
  text-align: center;
  height: 2.8rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

header h1 {
  margin: 0;
}

.localisation-section {
  background-color: #eaeaea;
  padding: 2vh;
  text-align: center;
}

.localisation-section .form-icon {
  margin-right: 10px;
  margin-left: 30px;
}

.localisation-section input {
  font-family: "Roboto";
  background-color: transparent;
  border: none;
  color: #242424;
  font-weight: bold;
  font-size: 0.8rem;
}

@media (min-width: 720px) {
  .localisation-section input {
    font-size: 1.1rem;
  }
}

.explore-restaurants-section {
  height: 16rem;
  padding: 1rem;
  background-color: #f6f6f6;
  text-align: center;
}

.explore-restaurants-section .explore-button {
  width: 50vw;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 11%, rgba(147, 86, 220, 0.919205) 63%);
  padding: 2vh;
  border-radius: 30px;
  color: #fff;
  margin: 4vh auto;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.how-to-section {
  padding-top: 3vh;
  padding-bottom: 4vh;
}

.how-to-section .how-to-section-title {
  width: 80vw;
  margin-left: 0.4rem;
}

.how-to-section .how-to-section-title h2 {
  width: 40vw;
  margin: 1rem 1rem 1rem 1.2rem;
}

@media (min-width: 720px) {
  .how-to-section .how-to-section-title {
    margin-left: 5rem;
  }
}

.how-to-section .how-to-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-to-section .how-to-buttons .how-to-button {
  width: 80vw;
  height: 60px;
  padding: 8px 6px;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin: 8px;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper {
  position: absolute;
  top: 40%;
  left: -10px;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-number {
  width: 10px;
  height: 10px;
  border: solid #9356dc 1px;
  border-radius: 50%;
  background-color: #9356dc;
  padding: 4px 8px;
  color: white;
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-logo {
  margin: auto 0.5rem;
  color: #7e7e7e;
}

@media (min-width: 480px) {
  .how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-logo {
    margin: 1rem;
  }
}

@media (min-width: 720px) {
  .how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-logo {
    margin: 1.5rem;
  }
}

.how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-text {
  font-weight: bold;
  font-size: 0.8rem;
}

@media (min-width: 480px) {
  .how-to-section .how-to-buttons .how-to-button .how-to-button-wrapper .how-to-text {
    font-size: 1rem;
  }
}

.how-to-section .how-to-buttons .how-to-button:hover {
  background-color: #f2eafb;
}

.how-to-section .how-to-buttons .how-to-button:hover .how-to-logo {
  color: #9356dc;
}

.restaurants-listing-section {
  background-color: #f6f6f6;
  padding: 2rem 0.2rem;
}

@media (min-width: 720px) {
  .restaurants-listing-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.restaurants-listing-section h2 {
  width: 94%;
  margin: 16px auto;
}

.restaurants-listing-section .restaurant-card {
  width: 94%;
  height: 16rem;
  background-color: white;
  border-radius: 16px;
  margin: 24px auto;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (min-width: 720px) {
  .restaurants-listing-section .restaurant-card {
    width: 45%;
    margin: 0.6rem;
  }
}

.restaurants-listing-section .restaurant-card a {
  text-decoration: none;
  color: black;
  position: relative;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-image {
  height: 70%;
  width: 100%;
  position: relative;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-image .newbox {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #098d6c;
  background-color: #99e2d0;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  border-radius: 2px;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-listing-section .restaurant-card a h3,
.restaurants-listing-section .restaurant-card a p {
  margin: 0.5rem;
  font-size: 1rem;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text {
  position: relative;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo,
.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo-hover {
  position: absolute;
  top: 30%;
  right: 5%;
  font-size: x-large;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo {
  color: rgba(0, 0, 0, 0.7);
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo-hover {
  opacity: 0;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, white), color-stop(50%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(to right, white 40%, #ff79da 50%, #9356dc 90%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.restaurants-listing-section .restaurant-card a .restaurant-card-text .heart-logo-hover:hover {
  opacity: 1;
  background-position: right;
}

footer {
  background-color: #242424;
  padding: 16px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

footer .cutlery {
  font-size: smaller;
  margin-right: 16px;
}

footer .handshake {
  font-size: smaller;
  margin-right: 10px;
}

footer .contact-link a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */