@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import "breakpoints";
@import "restaurants";

$colors: (
  primary: #9356dc,
  secondary: #ff79da,
  tertiary: #99e2d0,
  darkG1: #7e7e7e,
  darkG2: rgb(36, 36, 36),
  lightG: #f6f6f6,
  standardG: #eaeaea,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  font-family: "Roboto";
  margin: 0;
  position: relative;

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    opacity: 1;
    visibility: visible;
    animation-name: FadeOutLoader;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;

    .spinner {
      margin: calc(100vh / 2 - 5vh) auto;
      height: 7rem;
      width: 7rem;
      border: 3px solid map-get($colors, lightG);
      border-radius: 50%;
      border-top-color: map-get($colors, primary);
      border-left-color: map-get($colors, primary);
      border-bottom-color: map-get($colors, secondary);
      border-right-color: map-get($colors, secondary);
      animation: RotateSpinner 0.6s linear infinite;

      @keyframes RotateSpinner {
        to {
          transform: rotate(360deg);
        }
      }
    }

    @keyframes FadeOutLoader {
      0% {
        visibility: visible;
        opacity: 1;
      }
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

header {
  font-family: "Shrikhand";
  text-align: center;
  height: 2.8rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

  h1 {
    margin: 0;
  }
}

.localisation-section {
  background-color: map-get($colors, standardG);
  padding: 2vh;
  text-align: center;

  .form-icon {
    margin-right: 10px;
    margin-left: 30px;
  }

  input {
    font-family: "Roboto";
    background-color: transparent;
    border: none;
    color: map-get($colors, darkG2);
    font-weight: bold;
    font-size: 0.8rem;

    @include md {
      font-size: 1.1rem;
    }
  }
}

.explore-restaurants-section {
  height: 16rem;
  padding: 1rem;
  background-color: color(lightG);
  text-align: center;

  .explore-button {
    width: 50vw;
    background: rgb(255, 121, 218);
    background: linear-gradient(
      170deg,
      rgba(255, 121, 218, 1) 11%,
      rgba(147, 86, 220, 0.9192051820728291) 63%
    );
    padding: 2vh;
    border-radius: 30px;
    color: #fff;
    margin: 4vh auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  }
}

.how-to-section {
  padding-top: 3vh;
  padding-bottom: 4vh;

  .how-to-section-title {
    width: 80vw;
    margin-left: 0.4rem;

    h2 {
      //width: 90vw;
      width: 40vw;
      margin: 1rem 1rem 1rem 1.2rem;
    }

    @include md {
      margin-left: 5rem;
    }
  }

  .how-to-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    .how-to-button {
      width: 80vw;
      height: 60px;
      padding: 8px 6px;
      border-radius: 20px;
      background-color: color(lightG);
      margin: 8px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .how-to-button-wrapper {
        position: absolute;
        top: 40%;
        left: -10px;

        .how-to-number {
          width: 10px;
          height: 10px;
          border: solid color(primary) 1px;
          border-radius: 50%;
          background-color: color(primary);
          padding: 4px 8px;
          color: white;
        }

        .how-to-logo {
          margin: auto 0.5rem;
          color: color(darkG1);

          @include sm {
            margin: 1rem;
          }

          @include md {
            margin: 1.5rem;
          }
        }

        .how-to-text {
          font-weight: bold;
          font-size: 0.8rem;

          @include sm {
            font-size: 1rem;
          }
        }
      }

      &:hover {
        background-color: lighten(color(primary), 35%);

        .how-to-logo {
          color: color(primary);
        }
      }
    }
  }
}

.restaurants-listing-section {
  background-color: color(lightG);
  padding: 2rem 0.2rem;

  @include md {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  h2 {
    width: 94%;
    margin: 16px auto;
  }

  .restaurant-card {
    width: 94%;
    height: 16rem;
    background-color: white;
    border-radius: 16px;
    margin: 24px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @include md {
      width: 45%;
      margin: 0.6rem;
    }

    a {
      text-decoration: none;
      color: black;

      .restaurant-card-image {
        height: 70%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          object-fit: cover;
        }
      }

      h3,
      p {
        margin: 0.5rem;
        font-size: 1rem;
      }

      .restaurant-card-text {
        position: relative;

        .heart-logo,
        .heart-logo-hover {
          position: absolute;
          top: 30%;
          right: 5%;
          font-size: x-large;
        }

        .heart-logo {
          color: rgba(0, 0, 0, 0.7);
        }

        .heart-logo-hover {
          opacity: 0;
          color: transparent;
          background: linear-gradient(
            to right,
            white 40%,
            color(secondary) 50%,
            color(primary) 90%
          );
          background-clip: text;
          -webkit-background-clip: text;
          background-size: 300%;
          transition: 500ms ease-in-out;

          &:hover {
            opacity: 1;
            background-position: right;
          }
        }
      }
    }
  }
}

footer {
  background-color: color(darkG2);
  padding: 16px;
  color: white;

  h3 {
    font-family: "Shrikhand";
    font-weight: lighter;
  }

  .cutlery {
    font-size: smaller;
    margin-right: 16px;
  }

  .handshake {
    font-size: smaller;
    margin-right: 10px;
  }

  .contact-link {
    a {
      text-decoration: none;
      color: white;
    }
  }
}
